# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [71]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# load csv file of city and weather data into a dataframe

csv_path = "output/city_data.csv"
city_df = pd.read_csv(csv_path)
city_df.head()

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,saumur,100,FR,1602986173,93,47.33,-0.25,46.99,5.59
1,1,hualmay,13,PE,1602986175,85,-11.10,-77.61,62.37,8.93
2,2,hobart,75,AU,1602986102,54,-42.88,147.33,61.00,6.93
3,3,esperance,0,AU,1602986179,67,-33.87,121.90,60.80,11.41
4,4,praia,20,CV,1602986181,94,14.92,-23.51,77.00,4.70

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [20]:
# configure gmaps
gmaps.configure(api_key=g_key)

# store data for heatmap
locations = city_df[["Lat", "Lng"]].astype(float)
humidity = city_df["Humidity"].astype(float)

In [18]:
# create map and heatmap layer
fig = gmaps.figure(center=(28.00, 0.00), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, max_intensity = 100, point_radius = 8)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [51]:
hotel_df = city_df.loc[(city_df["Max Temp"] > 70) & (city_df["Max Temp"] < 80) \
                          & (city_df["Wind Speed"] < 10) & (city_df["Cloudiness"] == 0) \
                         & (city_df["Humidity"] > 40)]
hotel_df

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
205,205,salalah,0,OM,1602986595,43,17.02,54.09,73.40,5.82
224,224,marsa matruh,0,EG,1602986711,61,31.35,27.25,73.29,9.13
237,237,nioro,0,GM,1602986745,86,13.35,-15.75,78.15,3.80
296,296,bandarbeyla,0,SO,1602986877,78,9.49,50.81,78.66,7.31
344,344,presidencia roque saenz pena,0,AR,1602986995,89,-26.79,-60.44,71.82,6.78
402,402,santa ines,0,BR,1602987121,78,-3.67,-45.38,77.56,6.31
414,414,richha,0,IN,1602987146,60,28.70,79.52,70.86,1.79
429,429,nueve de julio,0,AR,1602987143,79,-35.44,-60.88,71.01,3.00
671,671,bushehr,0,IR,1602987756,56,28.97,50.84,71.60,7.70
692,692,bida,0,NG,1602987811,85,9.08,6.02,73.63,2.10

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [52]:
# add Hotel Name column to dataframe
hotel_df.insert(10, "Hotel Name", "")

In [77]:
# set up API to look for hotels
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = { 
    "radius": "5000",
    "type": "lodging",
    "key": g_key,
}

In [130]:
# loop through each row to find hotels near each coordinate

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    coords = (f"{lat}, {lng}")
    params["location"] = coords
    response = requests.get(base_url, params=params).json()
    try:
        hotel_name = response["results"][0]["name"]
        hotel_df.loc[index, "Hotel Name"] = hotel_name
    except (IndexError):
        city = row["City"]
        print(f"{city} has no nearby lodging.")
        hotel_df.loc[index, "Hotel Name"] = "none"

nioro has no nearby lodging.

In [133]:
# remove rows where no hotel was found
hotel_df = hotel_df.loc[(hotel_df["Hotel Name"] != "none")]
hotel_df

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
205,205,salalah,0,OM,1602986595,43,17.02,54.09,73.40,5.82,HAMDAN PLAZA HOTEL
224,224,marsa matruh,0,EG,1602986711,61,31.35,27.25,73.29,9.13,Beau Site
296,296,bandarbeyla,0,SO,1602986877,78,9.49,50.81,78.66,7.31,REER XOOSHLE GROUP
344,344,presidencia roque saenz pena,0,AR,1602986995,89,-26.79,-60.44,71.82,6.78,Hotel Aconcagua
402,402,santa ines,0,BR,1602987121,78,-3.67,-45.38,77.56,6.31,HOTEL TOP
414,414,richha,0,IN,1602987146,60,28.70,79.52,70.86,1.79,Arif
429,429,nueve de julio,0,AR,1602987143,79,-35.44,-60.88,71.01,3.00,Grand Hotel Libertad - GHL
671,671,bushehr,0,IR,1602987756,56,28.97,50.84,71.60,7.70,Yas Hotel
692,692,bida,0,NG,1602987811,85,9.08,6.02,73.63,2.10,Royal Suite

In [134]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
marker_locations = hotel_df[["Lat", "Lng"]]

In [135]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(marker_locations, info_box_content=info_box_template)

fig.add_layer(marker_layer)

fig

# Display figure

Figure(layout=FigureLayout(height='420px'))